*{
    padding: 0;
    margin: 0;
    background-color: #333;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.container h1{
    margin-bottom: 10px;
}
.container form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container input{
    margin-top: 15px;
    width: 40%;
    height: 25px;
    background-color: #fff;
    outline: none;
    padding: 2px 12px;
    border-radius: 15px;
}
.container button{
    margin-top: 15px;
    padding: 2px 12px;
    outline: none;
    background-color: none;
    color: #fff;
    border: 1px #fff solid;
    padding: 3px 12px;
    border-radius: 10px;
}
a{
    color: inherit;
}